#container
{
	margin: 0 30px;
	background: #fff;
}

#header
{
	background: #373636;
	padding: 20px;
}

#header h1 { margin: 5px;

             text-align: center;
	     color: #fff;
	     font-family: Calibri;
	     font-size: 65px;}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
        text-align: center;
	font-family: Calibri;
	font-size: 20px;
	border: 1px solid #373636;
	padding: 20px;
	margin: 10px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
        border: 1px solid #373636;
        color: #373636;
	font-family: Calibri;
	float: left;
	width: 40%;
	padding: 20px;
	margin: 10px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}


#footer
{
        font-family: Calibri;
	color: #fff;
	clear: both;
	font-size: 15px;
	background: #373636;
	text-align: right;
	padding: 20px;
	height: 1%;
}

a{

    color:#fff;

}